@tailwind base;

/* Start purging... */
@tailwind components;
/* Stop purging. */

.header {
  font-size: 20px;
  color: #fff;
  background-color: #2b2b2b;
}

.header .container {
  height: 50px;
}

.navigation a {
  padding: 0 10px;
}

.heading-1 {
  font-size: 30px;
}

.heading-2 {
  font-size: 25px;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
